// MIXINS

@mixin list-unstyle {
    padding-left: 0;
    list-style: none;
  }
  
  @mixin mobile-first($min) {
    @media only screen and (min-width:$min)  {
      @content;
    }
  }
  
  
  @mixin sticky-footer {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
  }